<template>
  <FieldFormer
    :title="settings.title"
    :required="settings.required"
    :errors="errors"
  >
    <label v-for="(option, index) in settings.options" :key="index">
      <input
        v-model="value.checked"
        :value="option.value"
        :type="settings.type"
        :name="option.name"
        @change="handleData(value)"
      />
      <span>{{ option.title }}</span>
    </label>
    <div v-if="settings.canBeCustom" class="additional">
      <span>More:</span>
      <input
        v-model.trim="value.text"
        class="additional__field"
        type="text"
        @input="handleData(value)"
        @blur="handleData(value)"
      />
    </div>
  </FieldFormer>
</template>

<script>
import FieldFormer from './FieldFormer'
import validation from './mixins/validation'

export default {
  name: 'FieldOptions',

  components: {
    FieldFormer
  },

  mixins: [validation],

  props: {
    settings: {
      type: Object,
      default: () => ({})
    },
    value: {
      type: Object,
      default: () => ({ checked: [] })
    }
  },

  data() {
    return {
      checked: []
    }
  }
}
</script>

<style lang="scss">
.additional {
  &__field {
    border: none;
    border-bottom: 1px solid #dadce0;
    outline: none;
  }
}
</style>
