<template>
  <FieldFormer :title="settings.title" :required="settings.required">
  </FieldFormer>
</template>

<script>
import FieldFormer from './FieldFormer'

export default {
  name: '',
  components: {
    FieldFormer
  },
  props: {
    settings: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>

<style lang="scss"></style>
