<template>
  <FieldFormer
    :title="settings.title"
    :required="settings.required"
    :errors="errors"
  >
    <input
      v-if="isNumeric"
      v-model.trim="value.text"
      min="0"
      max="100"
      type="number"
      @input="handleData(value)"
      @blur="handleData(value)"
    />
    <textarea
      v-else
      v-model.trim="value.text"
      @input="handleData(value)"
      @blur="handleData(value)"
    ></textarea>
  </FieldFormer>
</template>

<script>
import FieldFormer from './FieldFormer'
import validation from './mixins/validation'
export default {
  name: 'FieldSimple',
  components: {
    FieldFormer
  },

  mixins: [validation],

  props: {
    settings: {
      type: Object,
      default: () => ({})
    },
    value: {
      type: Object,
      default: () => ({ text: '' })
    }
  },

  computed: {
    isNumeric() {
      return this.settings.type === 'number'
    }
  }
}
</script>

<style lang="scss"></style>
