<template>
  <div class="step-former">
    <h3 class="step-former__title">
      {{ title }}
      <span class="step-former__star">{{ required ? '*' : '' }}</span>
    </h3>
    <slot />

    <!-- eslint-disable-next-line vue/require-v-for-key -->
    <p v-for="error in errors" class="step-former__errors">
      {{ error }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'FieldFormer',
  props: {
    title: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    errors: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss">
.step-former {
  position: relative;
  text-align: left;
  &__errors {
    position: absolute;
    bottom: 0;
    color: darkred;
  }
  &__title {
    text-align: left;
    margin-bottom: 15px;
  }
  &__star {
    color: #d93025;
  }
}
</style>
