<template>
  <div class="steps">
    <form class="step">
      <h2 class="step__headline">{{ currentStep.title }}</h2>
      <div>
        <template v-for="field in currentStep.fields">
          <component
            :is="field.type"
            :key="field.name"
            v-model.trim="form[field.name]"
            :name="field.name"
            :settings="field.settings"
            class="step__field"
            @validate="setValid(field.name, $event)"
          ></component>
        </template>
      </div>
      <button
        v-if="!isFirstPage"
        class="steps-button"
        @click.prevent="decreaseIndex"
      >
        Prev
      </button>
      <button
        v-if="!isLastPage"
        class="steps-button"
        @click.prevent="increaseIndex"
      >
        Next
      </button>
      <button v-if="isLastPage" class="steps-button" @click.prevent="submit">
        Submit
      </button>
      <p v-if="!isValid" class="error-message">
        You should fill all required fields
      </p>
    </form>
    <div v-if="sending" class="loader">Loading...</div>
  </div>
</template>

<script>
import FieldSimple from './FieldSimple.vue'
import FieldOptions from './FieldOptions.vue'
import EventService from '@/services/EventService.js'
export default {
  name: 'SteppingForm',
  components: {
    FieldSimple,
    FieldOptions
  },
  props: {
    steps: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      currentStepIndex: 0,
      form: {},
      valid: {},
      sending: false
    }
  },
  computed: {
    currentStep() {
      return this.steps[this.currentStepIndex] || {}
    },
    isFirstPage() {
      return this.currentStepIndex === 0
    },
    isLastPage() {
      return this.steps.length === this.currentStepIndex + 1
    },
    isValid() {
      return !Object.keys(this.valid).length
    }
  },
  methods: {
    increaseIndex() {
      this.validateAll()
      if (this.isValid) {
        this.currentStepIndex++
      }
    },
    submit() {
      this.validateAll()
      if (this.isValid) {
        this.sending = true
        this.sendForm().then(() => {
          this.currentStepIndex = 0
          this.sending = false
          alert(
            `All the data have being successfully sent: ${JSON.stringify(
              this.form,
              null,
              2
            )}`
          )
          this.form = {}
        })
      }
    },
    sendForm() {
      return EventService.postData(this.form).catch((error) => {
        this.sending = false
        alert('Error. Try again.')
        throw error
      })
    },
    decreaseIndex() {
      this.clearValid()
      this.currentStepIndex--
    },
    setValid(name, errors) {
      if (errors.length) {
        this.$set(this.valid, name, errors)
      } else {
        this.$delete(this.valid, name)
      }
    },
    validateAll() {
      this.$root.$emit('validateAllFields')
    },
    clearValid() {
      this.valid = {}
    },
    checkValidity() {
      return !Object.keys(this.valid).length
    }
  }
}
</script>

<style lang="scss">
.error-message {
  color: darkred;
}
.steps-button {
  color: rgb(0, 135, 191);
  background: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
  outline: none;
  margin: 0 10px;
  cursor: pointer;
}
.step {
  text-align: center;
  &__headline {
    background-color: rgb(134, 206, 243);
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
  }
  &__field {
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    margin-top: 0;
    page-break-inside: avoid;
  }
}
.loader {
  position: fixed;
  top: 20vh;
  left: 50%;
  color: #0080ff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
</style>
