<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 245, 253);
}
h1,
h2 {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}
label {
  display: block;
}
textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
