<template>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="90"
      height="90"
      fill="#DBE1EC"
      viewBox="0 0 48 48"
    >
      <path
        d="M22 30h4v4h-4zm0-16h4v12h-4zm1.99-10C12.94 4 4 12.95 4 24s8.94 20 19.99 20S44 35.05 44 24 35.04 4 23.99 4zM24 40c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16z"
      />
    </svg>
    <h1>
      Something went wrong
    </h1>
    <p v-if="statusCode === 404">
      {{ message }}
    </p>
    <p v-else>
      The page you're looking for is not here, try to reload this page or
      <nuxt-link to="/">go back to home</nuxt-link>
    </p>
  </div>
</template>
<script>
export default {
  name: 'NuxtError',
  props: {
    error: {
      // <--- Send in the error
      type: Object,
      default: null
    }
  },
  computed: {
    statusCode() {
      // <--- Get the status code
      return (this.error && this.error.statusCode) || 500
    },
    message() {
      // <--- Print the error
      return this.error.message
    }
  },
  head() {
    return {
      title: this.message // <--- Set the SEO title
    }
  }
}
</script>
