<template>
  <div class="stepping-form">
    <h1>{{ title }}</h1>
    <SteppingForm :steps="steps" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import SteppingForm from '@/components/SteppingForm.vue'
export default {
  components: { SteppingForm },
  async fetch({ store, error }) {
    try {
      await store.dispatch('form/fetchData')
    } catch (e) {
      error({
        statusCode: 404,
        message:
          'Unable to fetch data at this time... Make sure you installed and ran JSON server (read README.md for more information)'
      })
    }
  },
  computed: mapState({
    title: (state) => state.form.data.title || '',
    steps: (state) => state.form.data.steps || []
  })
}
</script>

<style>
.stepping-form {
  margin-top: 60px;
  max-width: 640px;
  margin: 0 auto;
}
</style>
